<%= form_with model: @plate, local: true do |form| %>
  <% if @plate.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@plate.errors.count, 'error') %>
      prohibited
        this plate from being saved:
      </h2>
      <ul>
        <% @plate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> 
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :main_ingredient %>
    <%= form.text_field :main_ingredient, required: true %>
  </div>

  <div>
    <%= form.label :type_of_plate %>
    <%= form.text_field :type_plate, required: true %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: :any, required: true %>
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :menu %>
    <%= form.collection_select(:menu_id, Menu.all, :id, :menu_and_type,
                              { prompt: true }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>