<h1>Listing Plates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Main Ingredient</th>
    <th>Type of Plate</th>
    <th>Price</th>
    <th>Comment</th>
    <th colspan='3'></th>
  </tr>

  <% @plates.each do |plate| %>
    <tr>
      <td><%= plate.name %></td>
      <td><%= plate.main_ingredient %></td>
      <td><%= plate.type_plate %></td>
      <td><%= plate.price %></td>
      <td><%= plate.comment %></td>
      <td><%= link_to 'Show', plate_path(plate) %></td>
      <td><%= link_to 'Edit', edit_plate_path(plate) %></td>
      <td><%= link_to 'Destroy', plate_path(plate),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New plate', new_plate_path %> |
<%= link_to 'Main Menu', welcome_index_path %>