<h1>Plates</h1>

<table class='table table-hover table-striped table-sm'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Main Ingredient</th>
      <th>Type of Plate</th>
      <th>Price</th>
      <th>Menu</th>
      <th>Type of Menu</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td><%= plate.name %></td>
        <td><%= plate.main_ingredient %></td>
        <td><%= plate.type_plate %></td>
        <td><%= plate.price %></td>
        <td><%= plate.menu.name %></td>
        <td><%= plate.menu.type_menu %></td>
        <td><%= link_to 'Show', plate_path(plate), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Edit', edit_plate_path(plate), class: 'btn btn-secondary btn-sm' %></td>
        <td><%= link_to 'Destroy', plate_path(plate), class: 'btn btn-danger btn-sm',
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New plate', new_plate_path, class: 'btn btn-info' %>