<h1>Plate</h1>

<div>
  <strong>Name:</strong>
  <%= @plate.name %>
</div>

<div>
  <strong>Main Ingredient:</strong>
  <%= @plate.main_ingredient %>
</div>

<div>
  <strong>Type of Plate:</strong>
  <%= @plate.type_plate %>
</div>

<div>
  <strong>Price:</strong>
  <%= @plate.price %>
</div>

<div>
  <strong>Comment:</strong>
  <%= @plate.comment %>
</div>

<div>
  <strong>Menu:</strong>
  <%= @plate.menu.name %>
</div>

<div>
  <strong>Type of Menu:</strong>
  <%= @plate.menu.type_menu %>
</div>

<%= link_to 'Edit', edit_plate_path(@plate) %>
<%= link_to 'Back', plates_path %>