<h1>Plate</h1>

<table class='table table-borderless table-hover w-50'>
  <tbody>
    <tr>
      <th scope='row'>Name:</th>
      <td><%= @plate.name %></td>
    </tr>
    <tr>
      <th scope='row'>Main Ingredient:</th>
      <td><%= @plate.main_ingredient %></td>
    </tr>
    <tr>
      <th scope='row'>Type of Plate:</th>
      <td><%= @plate.type_plate %></td>
    </tr>
    <tr>
      <th scope='row'>Price:</th>
      <td><%= @plate.price %></td>
    </tr>
    <tr>
      <th scope='row'>Menu:</th>
      <td><%= @plate.menu.name %></td>
    </tr>
    <tr>
      <th scope='row'>Type of Menu:</th>
      <td><%= @plate.menu.type_menu %></td>
    </tr>
    <tr>
      <th scope='row'>Comment:</th>
      <td><%= @plate.comment %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_plate_path(@plate), class: 'btn btn-success' %>
<%= link_to 'Back', plates_path, class: 'btn btn-secondary btn-sm' %>