<%= form_with model: @ingredient, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :calories %>
    <%= form.text_field :calories %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>