<h1>Listing Ingredients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Calories</th>
    <th colspan='3'></th>
  </tr>

  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.calories%></td>
      <td><%= link_to 'Show', ingredient_path(ingredient) %></td>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      <td><%= link_to 'Destroy', ingredient_path(ingredient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Ingredient', new_ingredient_path %> |
<%= link_to 'Main Menu', root_path %>