<h1>Listing Utensils</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan='3'></th>
  </tr>

  <% @utensils.each do |utensil| %>
    <tr>
      <td><%= utensil.name %></td>
      <td><%= link_to 'Show', utensil_path(utensil) %></td>
      <td><%= link_to 'Edit', edit_utensil_path(utensil) %></td>
      <td><%= link_to 'Destroy', utensil_path(utensil),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Utensil', new_utensil_path %>