<h1>Main Menu</h1>

<div>
  <%= link_to 'Plates', plates_path %><br>
  <%= link_to 'Recipes', recipes_path %><br>
  <%= link_to 'Steps', steps_path %><br>
  <%= link_to 'Ingredients', ingredients_path %><br>
  <%= link_to 'Utensils', utensils_path %>
</div>