<div class='use_fields'>
  <div>
    <%= f.label :ingredient %><br>
    <%= f.collection_select(:ingredient_id, Ingredient.all, :id, :name,
                            { prompt: true }) %>
  </div>
  
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, step: :any, required: true %>
  </div>

  <div>
    <%= f.label :measure %>
    <%= f.text_field :measure, required: true  %>
  </div>

  <div>
    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields('Remove ingredient', '.use_fields') %>
  </div>
</div>